h1{
text-align: center;
color: brown;
text-shadow: 8px 8px 12px rgb(46, 45, 45);
background-color: rgb(248, 148, 66);
line-height: 200px;
font-size: 200px;
border-radius: 100px;

}

h1:hover{

color: aqua;
background-color: black;
text-shadow: 8px 8px 12px beige;

}

img{
width: 300px;
height: 150px;


}

img:hover{
border-radius: 200px;


}
body{
background-color: rgb(242, 246, 247);


}

button{
background-color: rgb(252, 136, 28);
    line-height: 90px;
    width: 200px;
    color: brown;
    border-radius: 200px;
    font-size: 20px;
}
button:hover{
background-color: black;
color: aqua;
}



