h1{
text-align: center;
font-size: 40px;
text-decoration: underline;


}

h2{
color: rgb(226, 54, 42);



}

#shipping{

color: blue;



}

#paragraph{

    font-weight: bold;
}

.new{

    font-style: italic;
}

#vip{
background-color: rgb(6, 183, 236);
margin: 150px;
padding: 30px;
border-radius: 200px;
color: rgb(217, 255, 255);


}
button{
border-radius: 100px;


}
#vip h3{
color: rgb(160, 160, 190);
text-align: center;

}
#vip:hover{
background-color: black;
color: rgb(209, 216, 209);

}

#surprises{
display: flex;
gap: 20px;
margin: 40px;

}
#courses{

    display: flex;
}
#delivery{

    display: flex;
    margin: 40px;
    gap: 20px;
}

