h1{
text-align: center;

}



.navbar ul{
    list-style-type: none;
background-color: rgb(78, 77, 77);
padding: 0px;
margin: 0px;
overflow: hidden;

}

.navbar a{
color: aliceblue;
text-decoration: none;
display: block;
text-align: center;
padding: 15px;

}

.navbar a:hover{
background-color: rgb(29, 29, 29);


}

.navbar li{

    
}

